@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: '幼圆';
  box-sizing: border-box;
}

.loginBox {
  width: 1280px;
  height: 1024px;
  position: relative;
  background: url(../img/banner.jpg) no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}

.loginBox:after {
  content: "";
  width: 1280px;
  height: 1024px;
  position: absolute;
  left: 0;
  top: 0;
  background: inherit;
  filter: blur(5px);
}

.loginBox .box {
  position: absolute;
  top: 276px;
  right: 125px;
  z-index: 999;
  width: 460px;
  height: 530px;
  border: 1px solid transparent;
  background: #FFFFFF;
  box-shadow: 0px 2px 54px 0px rgba(0, 21, 30, 0.16);
  border-radius: 8px;
}

.loginBox .box i {
  font-size: 76px;
  background: #fff;
  border-radius: 17px;
  color: #7B1AD9;
  margin: 56px 193px 0 191px;
  border: 1px solid transparent;
  display: block;
}

.loginBox .box span {
  font-family: 'PingFangSC-Regular';
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: 0.08px;
  margin: 17px 0;
  text-align: center;
  display: block;
}

.loginBox .box > p {
  width: 100%;
  height: 59px;
  text-align: center;
  position: relative;
}

.loginBox .box > p input {
  width: 310px;
  height: 59px;
  outline: none;
  border: none;
  border-bottom: 1px solid #D0D0D0;
  opacity: 0.59;
  font-family: 'PingFangSC-Regular';
  font-size: 16px;
  color: #73808E;
}

.loginBox .box > p b {
  width: 88px;
  height: 34px;
  border: 1px solid #E3E0E0;
  display: inline-block;
  font-weight: 200;
  text-align: center;
  line-height: 34px;
  font-family: 'PingFangSC-Regular';
  font-size: 12px;
  color: #FF5065;
  letter-spacing: 0.37px;
  position: absolute;
  left: 300px;
  bottom: 10%;
}

.loginBox .box > p i {
  font-size: 14px;
  color: #73808E;
  display: block;
  margin: 13px 88px 135px 310px;
  text-decoration: none;
}

.loginBox .box > p button {
  width: 310px;
  height: 44px;
  background: #7B1AD9;
  border-radius: 100px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.73px;
  border: none;
  outline: none;
}

.loginBox h1 {
  font-family: 'HelveticaNeue-UltraLight';
  font-size: 106px;
  color: #FFFFFF;
  letter-spacing: 5.25px;
  line-height: 98px;
  position: absolute;
  top: 310px;
  left: 110px;
  font-weight: 200;
  z-index: 9999;
}

.loginBox > p {
  width: 519px;
  height: 59px;
  position: absolute;
  top: 410px;
  left: 110px;
  z-index: 999;
  font-family: 'PingFangSC-Light';
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.83px;
  line-height: 59px;
}

.loginBox ul {
  width: 100%;
  height: 90px;
  border: 1px solid #979797;
  z-index: 9999;
  position: absolute;
  left: 0;
  bottom: 0;
}

.loginBox ul li {
  font-family: PingFangSC-Medium;
  font-size: 10px;
  color: #FFFFFF;
  display: inline-block;
  margin-top: 15px;
}

.loginBox ul li:nth-child(1) {
  margin-left: 110px;
}

.loginBox ul li:nth-child(2) {
  margin-left: 25px;
}

.loginBox ul li:nth-child(3) {
  margin-left: 18px;
}

#root,
.wrap {
  width: 100%;
  height: 100%;
}

#root .logoBox,
.wrap .logoBox {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #555F72;
}

#root .logoBox img,
.wrap .logoBox img {
  width: 49px;
  height: 50px;
  border-radius: 50%;
  margin: 49px 55px 0 56px;
}

#root .logoBox span,
.wrap .logoBox span {
  width: 84px;
  height: 17px;
  font-size: 12px;
  color: #707CB9;
  display: block;
  margin: 5% auto;
}

#root .slideBox,
.wrap .slideBox {
  width: 160px;
  height: 100%;
  background: #2F3B4C;
  float: left;
  position: relative;
}

#root .slideBox .setting,
.wrap .slideBox .setting {
  font-size: 17px;
  position: absolute;
  bottom: 87px;
  left: 0;
}

#root .slideBox .quit,
.wrap .slideBox .quit {
  font-size: 17px;
  position: absolute;
  bottom: 46px;
  left: 0;
}

#root .rightBox,
.wrap .rightBox {
  width: calc(100% - 160px);
  height: 100%;
  float: left;
}

#root .rightBox .navTop,
.wrap .rightBox .navTop {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ebebeb;
}

#root .rightBox .navTop .navTopBtn,
.wrap .rightBox .navTop .navTopBtn {
  width: 120px;
  height: 100%;
  font-size: 12px;
  position: relative;
}

#root .rightBox .navTop b,
.wrap .rightBox .navTop b {
  width: 30px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

#root .rightBox .content,
#root .rightBox .itemBox,
.wrap .rightBox .content,
.wrap .rightBox .itemBox {
  width: 100%;
  height: 966px;
}

#root .rightBox .content .top,
#root .rightBox .itemBox .top,
.wrap .rightBox .content .top,
.wrap .rightBox .itemBox .top {
  width: 100%;
  height: 198px;
}

#root .rightBox .content .top .timeBox,
#root .rightBox .itemBox .top .timeBox,
.wrap .rightBox .content .top .timeBox,
.wrap .rightBox .itemBox .top .timeBox {
  width: 94%;
  height: 30px;
  padding-top: 76px;
  margin: 0 auto;
}

#root .rightBox .content .top .timeBox h2,
#root .rightBox .itemBox .top .timeBox h2,
.wrap .rightBox .content .top .timeBox h2,
.wrap .rightBox .itemBox .top .timeBox h2 {
  display: inline-block;
  font-size: 17px;
}

#root .rightBox .content .top ul,
#root .rightBox .itemBox .top ul,
.wrap .rightBox .content .top ul,
.wrap .rightBox .itemBox .top ul {
  width: 94%;
  height: 31px;
  margin: 0 auto;
  font-size: 17px;
  padding-top: 80px;
}

#root .rightBox .content .top ul h2,
#root .rightBox .itemBox .top ul h2,
.wrap .rightBox .content .top ul h2,
.wrap .rightBox .itemBox .top ul h2 {
  display: inline-block;
  float: left;
  font-size: 17px;
}

#root .rightBox .content .top ul li,
#root .rightBox .itemBox .top ul li,
.wrap .rightBox .content .top ul li,
.wrap .rightBox .itemBox .top ul li {
  float: left;
  width: 70px;
  height: 30px;
  background: #f7f7ff;
  border-radius: 50px;
  line-height: 30px;
  text-align: center;
  margin: 0 10px;
  font-size: 12px;
}

#root .rightBox .content .top ul li.active,
#root .rightBox .itemBox .top ul li.active,
.wrap .rightBox .content .top ul li.active,
.wrap .rightBox .itemBox .top ul li.active {
  background: #229fff;
  color: #fff;
}

#root .rightBox .content .top ul li:nth-child(5),
#root .rightBox .itemBox .top ul li:nth-child(5),
.wrap .rightBox .content .top ul li:nth-child(5),
.wrap .rightBox .itemBox .top ul li:nth-child(5) {
  margin-right: 40px;
}

#root .rightBox .content .top ul .small,
#root .rightBox .itemBox .top ul .small,
.wrap .rightBox .content .top ul .small,
.wrap .rightBox .itemBox .top ul .small {
  width: 300px;
  margin-left: 800px;
  margin-top: -36px;
}

#root .rightBox .content .top button,
#root .rightBox .itemBox .top button,
.wrap .rightBox .content .top button,
.wrap .rightBox .itemBox .top button {
  width: 130px;
  height: 40px;
  background: #229FFF;
  color: #fff;
  line-height: 31px;
  text-align: center;
  position: absolute;
  right: 100px;
  outline: none;
  border-radius: 10px;
  border: none;
}

#root .rightBox .content .pageBox,
#root .rightBox .itemBox .pageBox,
.wrap .rightBox .content .pageBox,
.wrap .rightBox .itemBox .pageBox {
  width: calc(100% - 60px);
  min-width: 1280px;
  margin: 50px auto;
  text-align: center;
}

#root .rightBox .content .pageBox .ant-row,
#root .rightBox .itemBox .pageBox .ant-row,
.wrap .rightBox .content .pageBox .ant-row,
.wrap .rightBox .itemBox .pageBox .ant-row {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #f7f7f7;
  font-size: 17px;
}

#root .rightBox .content .pageBox .row,
#root .rightBox .itemBox .pageBox .row,
.wrap .rightBox .content .pageBox .row,
.wrap .rightBox .itemBox .pageBox .row {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #E9E9E9;
  font-size: 17px;
  background: #fff;
}

#root .rightBox .content .pageBox .row .code,
#root .rightBox .itemBox .pageBox .row .code,
.wrap .rightBox .content .pageBox .row .code,
.wrap .rightBox .itemBox .pageBox .row .code {
  color: #229FFF;
}

#root .rightBox .content .pageBox .row .icon,
#root .rightBox .itemBox .pageBox .row .icon,
.wrap .rightBox .content .pageBox .row .icon,
.wrap .rightBox .itemBox .pageBox .row .icon {
  color: #229FFF;
  font-size: 18px;
}

#root .rightBox .content .pageBox .row:hover,
#root .rightBox .itemBox .pageBox .row:hover,
.wrap .rightBox .content .pageBox .row:hover,
.wrap .rightBox .itemBox .pageBox .row:hover {
  background: #EAF8FE;
}

#root .rightBox .content .pageBox .ant-pagination,
#root .rightBox .itemBox .pageBox .ant-pagination,
.wrap .rightBox .content .pageBox .ant-pagination,
.wrap .rightBox .itemBox .pageBox .ant-pagination {
  width: 500px;
  margin-left: 851px;
  margin-top: 18px;
}

#root .rightBox .content .pageBox .ant-pagination .ant-pagination-item-active,
#root .rightBox .itemBox .pageBox .ant-pagination .ant-pagination-item-active,
.wrap .rightBox .content .pageBox .ant-pagination .ant-pagination-item-active,
.wrap .rightBox .itemBox .pageBox .ant-pagination .ant-pagination-item-active {
  background: pink;
}

.setBox {
  width: 100%;
  height: 100%;
}

.setBox > h2 {
  width: 1250px;
  height: 59px;
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  justify-content: flex-start;
  justify-items: flex-end;
  padding-left: 10px;
  margin-left: 20px;
  padding-left: 1.5%;
  padding-top: 1.5%;
  font-size: 17px;
  color: #229FFF;
}

.setBox .con {
  width: 100%;
  height: 257px;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
}

.setBox .con > h2 {
  padding: 31px 0 0 36px;
  font-size: 17px;
  color: #229FFF;
}

.setBox .con .img-box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5%;
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: 36px;
}

.setBox .con .img-box img {
  width: 100%;
  height: 100%;
}

.setBox .con .img-box input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.setBox .con p {
  position: absolute;
  left: 240px;
  top: 40px;
}

.setBox .con button {
  width: 70px;
  height: 30px;
  outline: none;
  border: none;
  background: #229FFF;
  border-radius: 2px;
  color: #fff;
  position: absolute;
  left: 250px;
  top: 90px;
}

.setBox .con h3 {
  padding: 160px 0 0 36px;
  font-size: 17px;
  color: #229FFF;
}

.setBox .setPwd {
  width: 100%;
}

.setBox .setPwd p {
  width: 100%;
  height: 60px;
  padding-left: 3%;
  line-height: 130px;
}

.setBox .setPwd p > b {
  padding-left: 26px;
}

.setBox .setPwd p span {
  padding-left: 26px;
  color: #229FFF;
}

.setBox .setPwd p input {
  width: 160px;
  height: 35px;
  padding-left: 5px;
}

.setBox .setPwd p i {
  margin-left: 3%;
}
